@model IEnumerable<CarRental.Models.Cars>

@{
    ViewData["Title"] = "Index";
}

<h2>Spis samochodów</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    Marka
                </th>
                <th>
                    Model
                </th>
                <th>
                    Kategoria pojazdu
                </th>
                <th>
                    Dostępność
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdCar">Szczegóły</a> 
            </td>
        </tr>
}
    </tbody>
</table>
